
@{
    ViewData["Title"] = "Employees";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@model IEnumerable<dotnetdev_assessment.Models.Entities.Employee>;

<section>
    <h1>Employees</h1>
    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-primary" href="/employees/add">Add Employee</a>
    }
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Department</th>
                <th scope="col">Position</th>
                <th scope="col">Username</th>
                <th scope="col">Is Admin</th>
                @if (User.IsInRole("Admin"))
                {
                    <th scope="col">Actions</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model)
            {
                <tr>
                    <td scope="row">@e.Name</td>
                    <td scope="row">@e.Department</td>
                    <td scope="row">@e.Position</td>
                    <td scope="row">@e.Username</td>
                    <td scope="row">@e.IsAdmin</td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a class="btn btn-success" href="/employees/edit/@e.Id">Edit</a>
                            <button class="btn btn-danger" onclick="deleteEmployee(@e.Id)">Delete</button>
                        </td>
                    }
                </tr>
            }
          
        </tbody>
    </table>
</section>

<script>
    function deleteEmployee(id){
        $.ajax({
            url: "/employees/delete/" + id,
            type: "DELETE",
            success: res => {
                location.href = "/employees"
            },
            error: res => {
                if(res.status = 401){
                    alert("Forbidden")
                    return
                }
                if(res.status = 403){
                    alert("Unauthorized")
                    return
                }
                alert("Something went wrong while processing the request")
            }
        });
    }
</script>

